html, body, #app {
    padding: 0;
    margin: 0;
    height: 100%;
}

.toolbar {
    padding: 8px 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #f8f8f8;
}

.content-body {
    margin: 13px;
    background: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

.fill-btn {
    display: block;
    width: 100%;
}

.panel {
    background: #fff;
    margin: 10px;
    border: solid 1px #d8d8d9;
    border-radius: 5px;
}

.panel .panel-header {
    border-bottom: solid 1px #d8d8d9;
    padding: 12px;
    color: #545c64;
}

.panel .panel-toolbar {
    background: #f6f6f6;
    padding: 5px;
}

.panel-content {
    padding: 12px;
}
